@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.main {
    background-image: url(
        main.jpg
    );
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 900px) {
    .main {
        background-size: contain;
        background-position: top center;
    }
}

nav.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #333;
    padding: 0 50px;
    z-index: 2;
}

nav.navbar .nav_logo {
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
} 

.nav_item .nav_list ul {
    display: flex;
    flex-direction: row;
}

.nav_item .nav_list ul li {
    list-style: none;
    margin-left: 20px;
}

.nav_item .nav_list ul li a {
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.8px;
}

.nav_icons .nav_item {
    display: flex;
    flex-direction: row;
}

.nav_icons .nav_item .user i {
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
}

.nav_icons .nav_item .basket i {
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
}

.hamburger {
    display: none;
    margin-top: 2px;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }

    .nav_list {
        display: none;
    }
}

.hamburger i {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}

.nav_responsive_item {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; 
    height: 100vh; 
    background-color: #333;
    padding: 200px 60px;
    transition: transform 1s ease; 
    transform: translateX(-100%); 
    z-index: 1;
}

.nav_responsive_item.active{
    transform: translateX(0%);
}

.nav_responsive_item .nav_list ul {
    display: flex;
    flex-direction: column;
}

.nav_responsive_item .nav_list ul li {
    list-style: none;
    margin-bottom: 20px;
}

.nav_responsive_item .nav_list ul li a {
    color: #fff;
    font-size: 26px;
    letter-spacing: 0.8px;
}


